.couponDetailTable {padding: 0 10px;}
.couponDetailTable table {border-collapse: collapse;width: 100%;}
.couponDetailTable th {padding: 10px 0 10px;font-size: 18px;}
.couponDetailTable td {border: 1px solid #999;padding: 10px 15px;}
